body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007c00;
    padding: 15px 30px;
}

.navbar .logo img {
    height: 100px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: #00ff1a;
}

section article {
    text-align:center;
}

.content {
    flex: 1;
    padding: 20px;
}
.card-caixa {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.card {
    background: white;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    border: 3px solid #008500; /* Adiciona uma borda azul */
    border-radius: 10px; /* Deixa as bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card h2 {
    margin: 10px 0;
    font-size: 22px;
    color: #333;
}

.card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
    text-align: left;
}

.card button {
    background: #007c00;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background: #005a00;
}

.grade-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.texto1 {
    text-align: center;
}

.barra-campeonato {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
}

footer {
    background-color: #00301a;
    color: white;
    text-align: center;
    padding: 15px 0;
}

footer a {
    color: #ffffff;
}

footer a:hover, footer a:focus {
    text-decoration: underline;
    color: #00ff1a;
}

.contatos a {
    color: rgb(40, 255, 55);
}